<!doctype html>
<html lang="en" data-bs-theme="auto">

{% include "head.html" %}
{% include "header.html" %}
<style>
#container{
margin:0pxauto;
width:500px;
height:375px;
border:10px #333solid;
}
#videoElement{
width:500px;
height:375px;
background-color:#666;
}
</style>
</head>
<body>
<div id="container">
<video autoplay="true" id="videoElement">

</video>
</div>
<script>
var video=document.querySelector("#videoElement");

if(navigator.mediaDevices.getUserMedia){
navigator.mediaDevices.getUserMedia({video:true})
.then(function(stream){
video.srcObject=stream;
})
.catch(function(err0r){
console.log("Somethin gwent wrong!");
});
}
</script>
{% include "footer.html" %}
</body>
</html>