<!doctype html>
<html lang="en" data-bs-theme="auto">
{% include "head.html" %}
{% include "header.html" %}

<body class="sub-background">
    <section>
        <div id="hair-recommendation" class="text-center">
            <img id="displayed-photo" alt="표시된 사진"/>
        </div>
    </section>

    {% include "footer.html" %}
    <script>
    window.addEventListener('DOMContentLoaded', (event) => {
        let base64Image = localStorage.getItem('uploadedPhoto');
        if (base64Image) {
            document.getElementById('displayed-photo').src = base64Image;
        }
    });
</script>
</body>
</html>
