<!doctype html>
<html lang="en" data-bs-theme="auto">
{% include "head.html" %}
{% include "header.html" %}

<body class="sub-background">
    <section>
        <div id="hair-recommendation" class="text-center">
            <img id="displayed-photo" alt="표시된 사진" style="max-width: 15%; max-height: 15%; margin-top: 2cm;"/>

            <div id="classification-results">
                 <h2 style="font-size: 24px; margin-top: 1cm;">두피 진단 예측 결과</h2>
                <table class="result-table">
                    <tr>
                        {% for model, result in classification_results.items %}
                            <td>
                                <p>{{ result.predicted_class_name }}</p>
                            </td>
                            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                                </tr><tr>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </table>
            </div>

            <div id="final-result" style="text-align: center;">
                <table class="result-table">
                    <tr>
                        <td>
                            <p>두피 유형 : {{ final_result }}</p>
                        </td>
                    </tr>
                </table>
            </div>
        <br>
        <h2 style="font-size: 24px; margin-top: 1cm;">추천 제품</h2>
            <div id="image-and-button" >
                <table class="result-table2">
                    <tr>
                        <td style="text-align: center;">
                            <p>샴푸 추천 1</p>
                        </td>
                        <td style="text-align: center;">
                            <p>샴푸 추천 2</p>
                        </td>
                        <td style="text-align: center;">
                            <p>샴푸 추천 3</p>
                        </td>
                        <td style="text-align: center;">
                            <p>샴푸 추천 4</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <img src="/static/image/add.jpg" style="max-width: 100%; max-height: 100%;">
                        </td>
                        <td style="text-align: center;">
                            <img src="/static/image/add.jpg" style="max-width: 100%; max-height: 100%;">
                        </td>
                        <td style="text-align: center;">
                            <img src="/static/image/add.jpg" style="max-width: 100%; max-height: 100%;">
                        </td>
                        <td style="text-align: center;">
                            <img src="/static/image/add.jpg" style="max-width: 100%; max-height: 100%;">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <a href="https://www.oliveyoung.co.kr/" target="_blank"><span>바로가기</span></a>
                        </td>
                        <td style="text-align: center;">
                            <a href="https://www.oliveyoung.co.kr/" target="_blank"><span>바로가기</span></a>
                        </td>
                        <td style="text-align: center;">
                            <a href="https://www.oliveyoung.co.kr/" target="_blank"><span>바로가기</span></a>
                        </td>
                        <td style="text-align: center;">
                            <a href="https://www.oliveyoung.co.kr/" target="_blank"><span>바로가기</span></a>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </section>

    {% include "footer.html" %}
    <style>
        .result-table {
            width: 40%; /* 표의 크기를 조절 */
            margin: 0 auto; /* 표를 가운데 정렬 */
            border-collapse: collapse;
        }

        .result-table td {
            width: 33.33%;
            padding: 10px;
            border: 1px solid #ddd;
        }
    </style>

    <style>
        .result-table2 {
            width: 80%; /* 표의 크기를 조절 */
            margin: 0 auto; /* 표를 가운데 정렬 */
            border-collapse: collapse;
        }

        .result-table2 td {
            width: 2%;
            padding: 10px;
            border: 1px solid #ddd;
        }
    </style>

    <script>
    window.addEventListener('DOMContentLoaded', (event) => {
        let base64Image = localStorage.getItem('uploadedPhoto');
        if (base64Image) {
            document.getElementById('displayed-photo').src = base64Image;
        }
    });
    </script>

</body>
</html>
