<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
{% include "header.html" %}
<body class="frontpage">
<div class="container">
    <section class="background">

        <div class="content-wrapper">
            <div class="intro">
                <h1><span class="smaller wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5">5th floor, Samwon Tower, 124 Teheran-ro, Gangnam-gu, Seoul</span>
                    <span class="big wow pulse" data-wow-duration="1s" data-wow-delay="0s">Find myself</span><br/>
                    <span class="small wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">- MAKE ME UP! -</span>
                </h1>
            </div>
        </div>

        <div class="card-container">
            <!--card1-->
            <div class="card" onclick="window.location.href='{% url 'mainapp:personalcolor_view' %}'">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="38px"
                         width="38px" version="1.1" id="heart" viewBox="0 0 471.701 471.701" xml:space="preserve">
      <linearGradient id="gradientColor">
        <stop offset="5%" stop-color="#7eaaff"></stop>
          <stop offset="95%" stop-color="#ff48fb"></stop>
      </linearGradient>
                        <g>
        <img src="/static/svg/personal.svg" alt="personal Image" class="personal-image" width="60">

                        </g>
    </svg>
                </div>
                <p class="title">퍼스널 컬러</p>
                <p class="text">나에게 맞는 색을 찾아 보세요.</p>
            </div> <!--card1-->
            <!--card2-->
            <div class="card" onclick="window.location.href='{% url 'mainapp:style_view' %}'">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="38px"
                         width="38px" version="1.1" id="heart" viewBox="0 0 471.701 471.701" xml:space="preserve">
      <linearGradient id="gradientColor">
        <stop offset="5%" stop-color="#7eaaff"></stop>
          <stop offset="95%" stop-color="#ff48fb"></stop>
      </linearGradient>
                        <g>
        <img src="/static/svg/style.svg" alt="Cat Image" class="style-image" width="50">
                        </g>
    </svg>
                </div>
                <p class="title">헤어스타일 추천</p>
                <p class="text">얼굴형에 맞는 헤어스타일을 추천 해드립니다.</p>
            </div> <!--card2-->
            <!--card3-->
            <div class="card" onclick="window.location.href='{% url 'mainapp:hairloss_view' %}'">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="38px"
                         width="38px" version="1.1" id="heart" viewBox="0 0 471.701 471.701" xml:space="preserve">
      <linearGradient id="gradientColor">
        <stop offset="5%" stop-color="#7eaaff"></stop>
          <stop offset="95%" stop-color="#ff48fb"></stop>
      </linearGradient>
                        <g>
        <img src="/static/svg/hair.svg" alt="Cat Image" class="hair-image" width="50">
                        </g>
    </svg>
                </div>
                <p class="title">두피 검사</p>
                <p class="text">두피 검사를 진행해 보세요</p>
            </div> <!--card3-->
        </div>
    </section>
</div>
{% include "footer.html" %}
</body>
</html>