
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
{% include "head.html" %}
{% include "header.html" %}
<body class="sub-background">
<section>
    <div id="hair-recommendation" class="text-center">
        <!-- 찍은 사진을 표시할 이미지 엘리먼트 -->
        <img id="captured-photo" alt="찍은 사진" src="{{ captured_photo_url }}" style="width: 400px; height: auto;"/>
    </div>
    <div id="personaldesc-data">
        <ul>
            {% for personaldesc_data in personaldesc_data_list %}
                <li>
                    <p>Personal Color: {{ personaldesc_data.personal_result }}</p>
                    <p>상세 설명: {{ personaldesc_data.personal_info }}</p>

                    <img src="{{ personaldesc_data.personal_resultimg.url }}" alt="Personal Result Image" width="100"/>
                    <img src="{{ personaldesc_data.personal_paletteimg.url }}" alt="Personal Palette Image"
                         width="100"/>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="product-recommendations">
        <h2>추천 상품</h2>
        <ul>
            {% for product in product_recommendations %}
                <li>
                    <img src="{{ product.product_imgpath.url }}" alt="{{ product.product_name }}" width="100"/>
                    <p>{{ product.product_name }}</p>
                    <p>{{ product.product_category }}</p>
                    <p>{{ product.product_price }}원</p>
                    <p>퍼스널 컬러: {{ product.personal_result }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<canvas id="canvas" width="900" height="600"></canvas>
{% include "footer.html" %}
<script>
    // 로컬 스토리지에서 찍은 사진 데이터를 가져옴
    let capturedPhotoData = localStorage.getItem('capturedPhoto');

    // 찍은 사진이 있는지 확인
    if (capturedPhotoData) {
        // 이미지 엘리먼트의 소스로 찍은 사진을 설정
        document.getElementById('captured-photo').src = capturedPhotoData;
    }
</script>
</body>
</html>
