<!doctype html>
<html lang="en" data-bs-theme="auto">

{% include "head.html" %}
{% include "header.html" %}

<body class="sub-background">
        <section>
            <div id="camera-container" class="text-center">
                <video id="video" width="1080" height="720" autoplay="true"></video>
            </div>
        </section>
        <canvas id="canvas" width="1080" height="720"></canvas>
        <img id="photo" alt="찍은 사진" hidden=""/>

        <div class="text-center">
            <button class="custom-btn btn-12" type="button" id="capture"
                    onclick="window.location.href='{% url "mainapp:personalcolorresult_view" %}'">
                <span>찰칵</span><span>사진찍기</span>
            </button>
        </div>
        <script>
            // 실시간 웹 캠으로 찍은 사진을 데이터베이스와 연동하기 위해 Ajax 사용
            document.getElementById('capture').addEventListener('click', function() {
                let canvas = document.getElementById('canvas');
                let video = document.getElementById('video');
                canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
                let imageData = canvas.toDataURL('image/png');

                // AJAX 요청으로 이미지 데이터를 서버로 전송
                let xhr = new XMLHttpRequest();
                xhr.open('POST', '/upload_personal_image/', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({ image_data: imageData }));

                // 요청이 성공적으로 완료되었을 때 실행될 때
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        console.log('Image upload successful:', xhr.responseText);
                        // 추가로, 사용자에게 성공 메시지를 보여주거나 새로운 페이지로 리다이렉션할 수 있다.
                    } else {
                        console.error('Image upload failed:', xhr.statusText);
                    }
                };
                // 요청이 실패했을 때
                xhr.onerror = function() {
                    console.error('Request error');
                };
            });
        </script>
    {% include "footer.html" %}
<script src="/static/js/camera.js"></script>
</body>
</html>