<!doctype html>
<html lang="en" data-bs-theme="auto">

{% include "head.html" %}
{% include "header.html" %}

<body class="sub-background2">
        <section>
            <div id="camera-container" class="text-center">
                <video id="video" width="1080" height="720" autoplay="true"></video>
            </div>
        </section>
        <canvas id="canvas" width="1080" height="720"></canvas>
        <img id="photo" alt="찍은 사진" hidden=""/>

        <div class="text-center">
            <button class="custom-btn btn-12" type="button" id="capture"
                    onclick="window.location.href='{% url "mainapp:styleresult_view" %}'"
            ><span>찰칵</span><span>사진찍기</span>
            </button>
        </div>
    {% include "footer.html" %}
<script src="/static/js/camera.js"></script>
</body>
</html>