#camera-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px; /* 외곽선 */
    height: 600px; /* 외관선 */
    border: 20px #666 solid;
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    transform: translate(-50%, -50%); /* 가운데 정렬을 위한 변형 */
}

#videoElement {
    width: 900px;
    height: 700px;
    background01-color: #666;
}

/* 그래프 */
.graphWrap {
    position: relative;
    top: 250px;
    left: 10px;
    width: 470px;
    height: 300px;
    margin: 0 auto 0;
    border-bottom: 3px solid #aaa;
    text-align: center;
}

.graphWrap .graph > div {
    position: absolute;
    bottom: 0;
    width: 69px;
    border-radius: 10px 10px 0 0;
}

.graphWrap .graph > div#item1 {
    left: 0;
    background: #b9fc76;
}

.graphWrap .graph > div#item2 {
    left: 100px;
    background: #57b4c1;
}

.graphWrap .graph > div#item3 {
    left: 200px;
    background: #f9f4d2;
}

.graphWrap .graph > div#item4 {
    left: 300px;
    background: #fb8851;
}

.graphWrap .graph > div#item5 {
    left: 400px;
    background: #b90f43;
}