<!-- includes/footer.html -->
<!-- 공유하기 버튼 -->
<footer>
    <div class="parent-icon">
        <a id="btnTwitter" class="link-icon" href="javascript:shareTwitter();"><img src="/static/image/icon-twitter.png"
                                                                                    alt="트위터"></a><br/><br/>
        <a id="btnFacebook" class="link-icon" href="javascript:shareFacebook();"><img
                src="/static/image/icon-facebook.png" alt="페이스북"></a>
    </div>
    <div class="footer-container">
        <p class="mb-1">퍼스널컬러부터 탈모진단까지 당신을 MAKE하세요!</p>
        <p class="mb-0">git 구경 <a href="/">메인</a> or read our <a
                href="https://www.google.com/">@뷰티풀</a>.</p>
    </div>
</footer>
