<!-- includes/header.html -->
<header class="mb-auto">
    <div>
            <img src="/static/image/logo.png" class="logogo" alt="로고 이미지">
    </div>
    <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<div class="menu-outer">
    <div class="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'mainapp:main' %}">Home</a></li>
            <li><a href="https://github.com/Youkwangjin/Final-Project">git</a></li>
            <li><a target="_blank" href="https://www.oliveyoung.co.kr/">shop</a></li>
        </ul>
    </nav>
</div>
<a class="menu-close" onClick="return true">
    <div class="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</a>

<div class="fixedcallicon">
    <i class="fa fa-phone"></i><span class="hide">문의 - 070-456-123</span>
</div>
</header>